$primecolor: rgba(255, 255, 255, 0);

img {
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
}
 @mixin images($Height,$Width){
    width: $Width;
    height: $Height;
    margin-top: 30px;
    margin-left: 2px;
   


 }

 @mixin  H2($ftop,$fleft){
    color: white;
    position: absolute;
     margin-top: $ftop;
     margin-left: $fleft;
 }
 @mixin  H4($ftop,$fleft){
    color: rgba(255, 255, 255, 0.585);
    position: absolute;
    margin-top: $ftop;
    margin-left: $fleft;
 }







///////// For phone //////
    @media screen and (max-width:600px) {
       
        .container{
            margin: 20%;
            margin-top: 25px;  
          

            h2 {
                position: absolute;
                font-size: smaller;
              //  margin-top: 80px;
              font-size: 1px;
            }
            h4{
                position: absolute;
               color: blue;
              //  margin-top: 150px;
            }

          //  background-color: aqua;
        
            .starry_night{
                
                h2 {
                   color: #ffffff;
                   font-size: 12px;
                    margin-top: 120px;
                    margin-left: 40px;
                }
                h4{
                    color:#7d7d7d;
                    font-size: 5px;
                    margin-top: 140px;
                    margin-left: 40px;
                }
            }

            .GirlwithaPearlEarring{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 260px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 290px;
                     margin-left: 40px;
                 }
                }

            .Guernica{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 95px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 105px;
                     margin-left: 40px;
                 }
                
               
            }   

            .PenitentMagdalene{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 190px;
                     margin-left: 40px;
                 }
                 h4{
                     color: #7d7d7d;
                     font-size: 5px;
                     font-weight: lighter;
                     margin-top: 220px;
                     margin-left: 40px;
                 }
            }

            .TheStormontheSeaofGalilee{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 190px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 220px;
                     margin-left: 40px;
                 }
            }

            .TheGreatWaveoffKanagawa{
                margin-top: 20px;
                h2 {
                    color: #0e0e0e;
                    font-size: 12px;
                     margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 160px;
                     margin-left: 40px;
                 }
            }

            .VanGoghSelf-portrait{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 220px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 235px;
                     margin-left: 40px;
                 }
            }

            .TheSleepingGypsy{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 100px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 110px;
                     margin-left: 40px;
                 }

            }

            .LadywithanErmine{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 230px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 250px;
                     margin-left: 40px;
                 }
                

            }

            .TheNightCafé{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 110px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 130px;
                     margin-left: 40px;
                 }
            }

            
            .TheBasketofApples{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 140px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 160px;
                     margin-left: 40px;
                 }
                
            }

            .TheBoyintheRedVest{
                
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 200px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 220px;
                     margin-left: 40px;
                 }
            }

            .ArnolfiniPortrait{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: larger;
                     margin-top: 250px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 280px;
                     margin-left: 40px;
                 }
            }

            .MonaLisa{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: larger;
                     margin-top: 250px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 280px;
                     margin-left: 40px;
                 }
            }


            .TheSwing{
                margin-top: 20px;
                h2 {
                    color: #ffffff;
                    font-size: 12px;
                     margin-top: 230px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 5px;
                     margin-top: 250px;
                     margin-left: 40px;
                 }
              
            }








           
        }
        header{
            min-height: 10vh;
            background-color:primecolor;
            border-bottom: 1px solid #ccc;
            font-size: smaller;
                .Start_slideshow{
                    padding-top: 4px;
                    margin-left: 30%;
                    font-weight:lighter;
                    font-size: 20px;
            
               }
               .galleria{
                padding-top: 4px;
                margin-left: 15px;
                font-weight: bold;
                font-size: 30px;
            }
            }
    }



    @media screen and (max-width:900px ) and (min-width:600px) {
        

        .container{

            margin-left: 15px;
            display: grid;
            grid-template-columns: 324px 424px;
            column-gap: 40px;
            row-gap: 10px;
         
            h2 {
                position: absolute;
                font-size: smaller;
              //  margin-top: 80px;
            }
            h4{
                position: absolute;
               color: blue;
              //  margin-top: 150px;
            }
            .starry_night{
                 margin-top: 40px;
                 h2 {
                    color: #ffffff;
                    font-size: larger;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 170px;
                     margin-left: 40px;
                 }
               
            }

            .GirlwithaPearlEarring{
                margin-top: 40px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 380px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 430px;
                     margin-left: 40px;
                 }

            }

            .Guernica{
                margin-top: -300px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
            
            }

            .PenitentMagdalene{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
            }

            .TheStormontheSeaofGalilee{


                margin-top: -640px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                
            }

            .TheGreatWaveoffKanagawa{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
            }

            .VanGoghSelf-portrait{
                margin-top: -620px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
        }

            .TheSleepingGypsy{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
            }

            .LadywithanErmine{
                margin-top: -500px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
            }

            .TheNightCafé{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                
            }

            
            .TheBasketofApples{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
               
        }

            .TheBoyintheRedVest{
                margin-top: -260px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                
            }

            .ArnolfiniPortrait{
                margin-top: 20px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                
                }

            .MonaLisa{
                margin-top: -380px;

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
                
               
            }


            .TheSwing{
                margin-top: -460px;
                max-height: 440px;
                background-color: aqua;
                .image_container{
                    max-height: 100%;
                    background-color: black;
                    .imgs{
                        height: 440px;
                    }
                }
                    
            

                h2 {
                    color: #ffffff;
                    font-size: larger;
                    margin-top: 130px;
                     margin-left: 40px;
                 }
                 h4{
                     color:#7d7d7d;
                     font-size: 10px;
                     margin-top: 150px;
                     margin-left: 40px;
                 }
               
            }

        }

        header{
            min-height: 10vh;
            background-color:primecolor;
            border-bottom: 1px solid #ccc;
            font-size: smaller;
                .Start_slideshow{
                    padding-top: 4px;
                    margin-left: 30%;
                    font-weight:lighter;
                    font-size: 20px;
            
               }
               .galleria{
                padding-top: 4px;
                margin-left: 15px;
                font-weight: bold;
                font-size: 30px;
            }
            }


    }

















////////// for descktop////////////
@media screen and (min-width:900px) {
.container{
    margin: 100px;
    max-height: fit-content;
   // background-color:#2c09d6 ;
    img{
        width: fit-content;
        height:fit-content;
    }
    display: grid; 
    grid-template-columns: repeat(4, 300px); 
    grid-template-rows: repeat(4, 400px);
     grid-column-gap: 3%;
    grid-row-gap:13% ;
/////starry_night ///////
    .starry_night{
       // margin-left: 30px;
        .image_container{
            width: 100%;
            height: 100%;

            img{
                @include images(250PX,310px);  
            }
        }
        h2{
                    @include H2(12%,3%);
                }
        h4{
                    @include H4(14%,3%);
                }
                width: fit-content;
                height:fit-content;
              

           }




////GirlwithaPearlEarring///
.GirlwithaPearlEarring{
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(400PX,310px);  
        }
    }
    h2{
                    @include H2(21%,3%);
                }
     h4{
                    @include H4(25%,3%);
                }
                width: fit-content;
                height:fit-content;
   
           }



///// Guernica /////
.Guernica{
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(285PX,310px);  
        }
    }
    h2{
                    @include H2(15%,3%);
                }
    h4{
                    @include H4(17%,3%);
                    color: #7d7d7d;
                } 
                width: fit-content;
                height:fit-content;
   
        }



//////// PenitentMagdalene ///////////

.PenitentMagdalene{
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(250PX,310px);  
        }
    }
    h2{
                    @include H2(12%,3%);
                }
    h4{
                    @include H4(16%,3%);
                    color: #7d7d7d;
                } 
                width: fit-content;
                height:fit-content;
   
        }


////TheStormontheSeaofGalilee////




.TheStormontheSeaofGalilee{
    margin-top: -320px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(340PX,310px);  
        }
    }
    h2{
                    @include H2(18%,2%);
                }
    h4{
                    @include H4(22%,2%);
                    color: #fffffff0;
                }
                width: fit-content;
                height:fit-content; 
   
   
           }




 .TheGreatWaveoffKanagawa{
margin-top: -170px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(280PX,310px);  
        }
    }
    h2{
                    @include H2(15%,2%);
                    color: rgba(22, 20, 20, 0.982);
                }
    h4{
                    @include H4(19%,2%);
                    color: #161515f0;
                } 
    width: fit-content;
    height:fit-content;
           }

    


 .VanGoghSelf-portrait{
    margin-top: -280px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(500PX,310px);  
        }
    }
            h2{
            @include H2(25%,2%);
            color: rgba(22, 20, 20, 0.982);
        }
        h4{
            @include H4(27%,2%);
            color: #7d7d7d;
        } 
    width: fit-content;
    height:fit-content;

           }

     

.TheSleepingGypsy{
margin-top: -310px;
       .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(250PX,310px);  
        }
    }
    h2{
                    @include H2(13%,2%);
                    color:white;
                }
    h4{
                    @include H4(15%,2%);
                    color:#7d7d7d;;
                }  
    width: fit-content;
    height:fit-content;
            }


.LadywithanErmine{
margin-top: -540px;
        .image_container{
            width: 100%;
            height: 100%;
    
            img{
                @include images(420PX,310px);  
            }
        }
      
     h2{
                @include H2(23%,2%);
                color:white;
            }
    h4{
                @include H4(25%,2%);
                color:#7d7d7d;
            } 
        width: fit-content;
        height:fit-content;
                }
       
    
    
.TheNightCafé{
    margin-top: -450px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(260PX,310px);  
        }
    }
  
    h2{
                    @include H2(13%,2%);
                    color:white;
                }
    h4{
                    @include H4(15%,2%);
                    color:#7d7d7d;
                }
    width: fit-content;
    height:fit-content;
        }





.TheBasketofApples{
    margin-top: -615px;

    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(420PX,310px);  
        }
    }
  
    h2{
                    @include H2(13%,2%);
                    color:white;
                }
    h4{
                    @include H4(15%,2%);
                    color:#7d7d7d;
                }
    width: 330px ;
    height:fit-content;
         }


    
    


 .TheBoyintheRedVest{
    margin-top: -680px;
    

    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(260PX,310px);  
        }
    }
  
    h2{
                    @include H2(13%,2%);
                    color:white;
                }
    h4{
                    @include H4(15%,2%);
                    color:#7d7d7d;
                } 
    width: fit-content;
    height:fit-content;
  
           }



 
  
    
     
.ArnolfiniPortrait{
    margin-top: -752px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(330PX,310px);  
        }
    }
  
    h2{
                    @include H2(13%,2%);
                    color:white;
                }
    h4{
                    @include H4(15%,2%);
                    color:#7d7d7d;
                }  
    width: fit-content;
    height:fit-content;
           }
    

 
    


 .MonaLisa{
    margin-top: -340px;
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(525PX,310px);  
        }
    }
  
    h2{
                    @include H2(30%,2%);
                    color:white;
                }
    h4{
                    @include H4(32%,2%);
                    color:#7d7d7d;
                } 
               
    width: fit-content;
    height:fit-content;
          }
    

 
.TheSwing{
   
    .image_container{
        width: 100%;
        height: 100%;

        img{
            @include images(340PX,310px);  
        }
    }
   
    h2{
                    @include H2(80%,2%);
                    color:white;
                }
    h4{
                    @include H4(90%,2%);
                    color:#7d7d7d;
                }  
             
position: absolute;
margin-left:  1020px;;
margin-top:  1060px;
    width: fit-content;
    height:fit-content;

          }

}
header{
    min-height: 10vh;
    background-color:primecolor;
    border-bottom: 1px solid #ccc;
    font-size: smaller;
        .Start_slideshow{
            margin-top: 67px;
            margin-left: 80%;
            font-weight:lighter;
            font-size: 20px;
    
       }
       .galleria{
        padding-top: 4px;
        margin-left: 15px;
        font-weight: bold;
        font-size: 30px;
    }
    }




}
